.explanation{
    background-color: #E6E8E6
;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: cursive;
    box-shadow: 10px 10px 8px #888888;
    width: 90%;
    margin: auto;
}

#back{
    margin-top: 10%;
}   