body{
    background-color: #3772FF;
    color:#080708;
}

.home{
    padding-top: 10px;
    width:90%;
    margin: auto;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: -10px 10px 8px #888888;
}

.newGame{
    padding-top: 10%;
    width:auto;
}

.newGame h4{
    margin: auto;
    padding: 5px;
}

@media screen and (max-width: 400px){
    
    .newGame{
        flex-direction: column;
        padding:10px;
    }
    
    .newGame button{
        width:100%;
        margin-bottom: 20px;
    }
}

nav{
    padding-bottom: 30px;
}