#logo{
    height: 50px;
    width: 20px;
}

.gameTitle h1{
    font-family: Apple Chancery, cursive;
    font-size: 3em;
    background-color: rgb(242, 244, 248);
    color: green;
    width: 100%;
    box-shadow: 5px -5px inset rgb(107, 92, 92);
    padding-bottom: 10px;
}
