#logo{
    height: 50px;
    width: 20px;
}

.gameTitle h1{
    font-family: "Courier New";

}

@keyframes title{
    from{
        background-color: white;
    }
    to{
        background-color: green;
    }
}